<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="SwapLanguage-Packages" value="https://pkgs.dev.azure.com/swaplanguage/_packaging/SwapLanguage-Packages/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <SwapLanguage-Packages>
            <add key="Username" value="claudiu.cordunianu@swaplanguage.com"/>
            <add key="ClearTextPassword" value="3utsgtjjjlurmdxi6374q2qgvcxxfodl3hsh4wqeneafc5meqqnq" />
        </SwapLanguage-Packages>
    </packageSourceCredentials>
</configuration>
