@inherits LayoutComponentBase
@using Radzen

<div style="min-height: 250px; background-color: #1e293b" class="px-5 py-4 d-flex flex-column flex-lg-row justify-content-between">
    <div class="d-flex flex-row justify-content-between mb-3 w-100">
        <div class="d-flex flex-column">
            <span class="footer_text pb-4">Discover</span>
            <span class="footer_text">Language Exchange</span>
            <span class="footer_text">About Us</span>
            <span class="footer_text">Blog</span>
        </div>
        <div class="d-flex flex-column">
            <span class="footer_text pb-4">Learn</span>
            <span class="footer_text">Language Lessons</span>
        </div>
        <div class="d-flex flex-column">
            <span class="footer_text pb-4">Support</span>
            <span class="footer_text">Safety and Trust</span>
            <span class="footer_text">Terms and Conditions</span>
            <span class="footer_text">Privacy</span>
            <span class="footer_text">Cookies consent</span>
        </div>
        <div class="d-flex flex-column">
            <span class="footer_text pb-4">Contact</span>
            <span class="footer_text">info@email.com</span>
            <span class="footer_text">support@email.com</span>
        </div>
        <div class="d-none d-lg-block">
            <div class="d-flex flex-column">
                <span class="footer_text pb-4">SUBSCRIBE TO OUR NEWSLETTER</span>
                <span class="footer_text">Get latest news, articles and resources in your inbox weekly.</span>
                <div class="d-flex d-inline-block align-items-center">
                    <RadzenTextBox Placeholder="Enter Your Email" Style="margin-right: 10px;"></RadzenTextBox>
                    <RadzenButton Text="Subscribe" ButtonStyle="ButtonStyle.Primary" Style="background-color: transparent;color: darkorange; border: 1px solid darkorange;"></RadzenButton>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block d-lg-none">
        <div class="d-flex flex-column d-block d-lg-none">
            <span class="footer_text pb-4">SUBSCRIBE TO OUR NEWSLETTER</span>
            <span class="footer_text">Get latest news, articles and resources in your inbox weekly.</span>
            <div class="d-flex d-inline-block align-items-center">
                <RadzenTextBox Placeholder="Enter Your Email" Style="margin-right: 10px;"></RadzenTextBox>
                <RadzenButton Text="Subscribe" ButtonStyle="ButtonStyle.Primary" Style="background-color: transparent;color: darkorange; border: 1px solid darkorange;"></RadzenButton>
            </div>
        </div>
    </div>
</div>
<div style="height: 50px; background-color: #334155" class="d-flex align-items-center">
    <div class="d-flex flex-row justify-content-between px-5 w-100">
        <span class="footer_text">Copyrighted stuff</span>
        <span class="footer_text">Links to media</span>
    </div>
</div>
