@inherits LayoutComponentBase

<div class="w-100 d-flex px-4 py-3 align-items-center justify-content-between" style="background-color:white;">
    <div style="color: darkorange">Swap Logo</div>
    <div class="d-flex align-items-center">
        <h6 class="" style="cursor: pointer">Enterprise</h6>
        <h6 class="ms-4" style="cursor: pointer">Language Lessons</h6>
        <h6 class="ms-4" style="cursor: pointer">Plans</h6>
        <h6 class="ms-4" style="cursor: pointer">Login</h6>
        <div class="ms-4" style="height: 38px;">
            <RadzenButton Text="Sign Up" ButtonType="ButtonType.Button" Style="background-color: darkorange; color: white;">Sign Up</RadzenButton>
        </div>
    </div>
</div>