@page "/"
@page "/{PageNumber:int}"
@using Keywords.Services.Interfaces
@inject ISwapVideoService SwapVideoService

<PageTitle>Index</PageTitle>


    <div class="d-flex justify-content-center">
        <div class="p-5 d-flex d-flex justify-content-around" style="width: 70%;">
            @if (_videos.Any())
            {
            @foreach(var video in _videos)
            {
                <div>
                    <h3>@video.Name</h3>
                    <h5>@video.Description</h5>
                    <a href="/video/@video.Id">See more</a>
                </div>
            }
            }
            else
            {
                <div>
                    Oops, no videos found
                </div>
            }
        </div>
    </div>


<div class="d-flex justify-content-center">
    @for (var i = 1; i <= TotalPages; i++)
    {
        <span><a href="/@i">@i</a>|</span>
    }
</div>


@code {
    [Parameter]
    public int? PageNumber { get; set; }
    
    private ICollection<SwapVideos.API.Client.Generated.Video> _videos  = new List<SwapVideos.API.Client.Generated.Video>();
    private const int Size = 2;
    private int? TotalPages { get; set; }
    
    protected override async Task OnParametersSetAsync()
    {
        if (PageNumber < 1) PageNumber = 1;
        
        var response = await SwapVideoService.GetVideoAsync(PageNumber-1, Size);
        PageNumber = response.CurrentPage + 1;
        TotalPages = response.TotalAmountOfPages;
        _videos = response.Videos;
    }
}